.calc
    &-field
        &-title
            &__toggleable
                cursor: pointer
        &__info-icon
            padding: 0 4px
            margin-left: 10px
            border: 2px solid #ddd

    &__btn
        &:disabled
            background-color: #ddd
            transition: none
            &:hover
                background-color: #ddd

    &-results
        font-size: 16px
        &__btns-wrap
            button
                float: right
            &:after
                content: ''
                display: table
                clear: both

    &-extra-info
        font-size: 18px
